/* START NAVBAR */
.navFixed {
  background-color: #012129;
  color: #fff;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 9999
}

.navWrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px
}

/* Added in js */
.navTitle {
  color: #393939;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 8px;
  margin-top: 0
}

/* END NAVBAR */
/* --- */
/* START PAGE */
.contentWrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  display: flex;
}

/* END PAGE */
/* START BUTTONS */
.button {
  border: 1px solid #222;
  border-radius: 3px;
  color: #222;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  transition: background .3s, color .3s
}

.button:hover {
  background: #222;
  color: #fff
}

/* END BUTTONS */
/* START PARA */
.paraTitle {
  text-align: center;
  font-size: 26px;
}

.para {
  overflow: hidden;
}

.paraCenter {
  text-align: center;
}

.paraSection {
  background-color: #edf4f7;
  width: 99%;
  margin: auto;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.fl {
  width: 50%;
  float: left;
}

.fr {
  width: 50%;
  float: right;
}

/* END PARA */
/* eof */